*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#2980b9; 
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/* -----------------------header1 CSS STARTS----------------- */
.header1{
    background: #3b89ff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 110;
    padding: 15px 30px;
}
.container1{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.mylogo img{
    width: 150px;
}
.main_nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.main_nav ul li{
    float: left;
    margin: 0 0 0 5px;
    position: relative;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300; 
} 
.main_nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 3px 13px;
    display: block;
    line-height: 1.4;
    transition: all 0.3s ease-out;
}
.main_nav ul li:hover > a{
    background-color: turquoise;
    color: #fff;
}
.main_nav ul ul{
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    white-space: nowrap;
    transition: all 0.3s ease-out;
    opacity: 0;
    pointer-events: none;
}
.main_nav ul ul li{
    float: none;
    margin: 0;
    border-bottom: 1px solid #fff;
}
.main_nav > ul > li > ul:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 16px;
    width: 100%;
}
.main_nav ul ul li a{
    background: #0b6cfd;
}
.main_nav ul li:hover > ul{
    opacity: 1;
    pointer-events: auto;
}
.main_nav ul li:hover ul li:hover > a{
    background:turquoise;
    color: #fff;
}
.main_nav ul li i{
    position: absolute;
    right: 0;
    top: 7px;
    color: #fff;
}
.main_nav ul li:hover > i{
    color:#fff;
}
.main_nav ul ul ul{
    left: 100%;
    top: 0;

}
.main_nav ul ul li i{
    transform: rotate(-90deg);
    right: 3px;
}
.main_nav ul ul li:hover i{
    color: #fff;
}

/* -----------------------header1 CSS ENDS----------------- */


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    /* padding: 10px 0; */
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff933b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
/* .header{
    background: radial-gradient(rgb(244, 244, 248), #3498db);
}
.header .row{
    margin-top: 50px;
} */

/* -----------  home section starts ----------- */
.home .home-slider .item{
    position: relative;
}
.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.home .home-slider .item .content{
    position: absolute;
    top: 50%; left: 5%;
    transform: translateY(-50%);
}
.home .home-slider .item .content h3{
    color: #fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home .home-slider .item .content p{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding: 2rem 0;
    width: 40rem;
    text-shadow: 0 .1rem .3rem rgb(12, 15, 190);
}
.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}
.home .owl-carousel .owl-prev{
    left: 1.3rem;
}
.home .owl-carousel .owl-next{
    right: 1.3rem;
}
.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color: #fff;
    font-size: 7rem;
}
/* -----------  home section ends ----------- */

/* ------------------- latest products --------------- */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.heading{
    padding-top: 3rem;
    width: 100%;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}
.heading span{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    color: #fff;
    background:rgb(74, 143, 245);
    border-top-right-radius: 3rem;
    display: inline-block;
}
.title{
    text-align: center;
    margin: 0 auto 70px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #4f3bff;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
/* .rating .fa{
    color: #ff523b;
} */
.col-4:hover{
    transform: translateY(-5px);
}

/* -------------    offer   ------------ */
.offer{
    background: radial-gradient(rgb(244, 244, 248), #a5b5e9);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/* ------------------------ BEST DEALS ------------------------ */

.heading{
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}
.heading span{
    font-size: 2rem;
    padding: 1rem 6rem;
    color: #fff;
    background:rgb(94, 161, 248);
    border-top-right-radius: 3rem;
    display: inline-block;
}
.deal{
    min-height: 100vh;
}
.deal .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.deal .box-container .box{
    flex: 1 1 30rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}

 .deal .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.deal .box-container .box .content{
    position: absolute;
    top: 55%; left: 3rem;
    transform: translateY(-50%);
}
.deal .box-container .box .content h3{
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}
.deal .box-container .box .content p{
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 .2rem .5rem rgb(7, 9, 145);
}
.deal .box-container .box .content .btn{
    margin: 1.4rem 0;
}
.deal .icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.deal .icons-container .icons{
    flex: 1 1 15rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: .2rem solid rgb(94, 161, 248);
}
.deal .icons-container .icons i{
    color: rgb(94, 161, 248);
    font-size: 4rem;
    padding: 1rem 0;
}
.deal .icons-container .icons h3{
    color: #333;
    font-size: 2rem;
}
.deal .icons-container .icons p{
    color: #666;
    font-size: 1.3rem;
    padding: 1rem 0;
}

/* -----------------------     brands     --------------------- */

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* -----------------------     Footer     --------------------- */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5{
    min-width: 180px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
}
.footer-col-2 img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4, .footer-col-5{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ------------------ All products page --------------------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* ----------------single product----------------- */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.single-product input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* ------------- cart items details -------------- */

.cart-page{
    margin: 80px auto;
    padding-top: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


/* ------------- account page -------------- */
.account-page{
    padding: 50px 0;
    background:  radial-gradient(rgb(244, 244, 248), #a5b5e9);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute; 
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginForm{
    left: -300px;
}
#registerForm{
    left: 0px;
}
form a{
    font-size: 12px;
}
#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/* -----------------about us page starts---------------------  */

.aboutus-section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.aboutus-section .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.aboutus-section .container .content-section{
    float: left;
    width: 55%; 
    text-transform: uppercase;
    font-size: 16px;
}
.aboutus-section .container .image-section{
    float: right;
    width: 40%;
}
.aboutus-section .container .content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 17px;
}
.aboutus-section .container .content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

/* -----------------about us page ends---------------------  */

/* -----------------contact us page starts---------------------  */

.contactus-section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.contactus-section .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.contactus-section .container .image-section-contact{
    float: left;
    width: 40%;
}
.contactus-section .container .content-section-contactus{
    float: right;
    width: 55%; 
    text-transform: uppercase;
    font-size: 16px;
}
.contactus-section .container .content-section-contactus .content-contactus h4{
    text-transform:lowercase;
    text-align: center;
}
.contactus-section .container .content-section-contactus .social{
    text-align: center;
}








@media only screen and (min-width: 768px) and (max-width: 991px){
    .main_nav ul li{ font-size: 13px; margin: 0;}
    .main_nav ul li a{ padding: 5px 7px;}
}
@media screen and (min-width: 768px){
    .nav_icon,
    #navTrigger{ display: none;}
}
@media screen and (max-width: 767px){
    
    .nav_icon{
        display: block;
        position: relative;
        font-size: 36px;
        color: #fff;
        cursor: pointer;
    }
    .main_nav{ 
        position: fixed;
        left: 0;
        top: 72px;
        padding: 0;
        background: #0b6cfd;
        z-index: 100;
        height: calc(100% - 74px);
        overflow: auto;
        width: calc(100% - 100px);
        transition: all 0.3s ease-out;
        transform: translateX(-150%);
    }
    .main_nav ul li{
        float: none;
        margin: 0 important;
        border-bottom: 1px solid #fff;
    }
    .main_nav ul li a{
        padding: 10px;
    }
    .main_nav > ul > li:hover > a{
        background: turquoise;
        color: #fff;
    }
    .main_nav ul ul{
        position: static;
        pointer-events: auto;
        opacity: 1;
        height: 0;
        overflow: hidden;
    }
    .main_nav ul ul li a{ padding-left: 30px;}
    .main_nav ul ul ul li a{ padding-left: 60px;}
    .main_nav ul ul ul ul li a{ padding-left: 90px;}
    .main_nav ul ul li i{
        transform: rotate(0deg);
        right: 10px;
    }  
    .main_nav ul li i{
        right: 10px;
    }  
    .main_nav ul li:hover > ul{ height: auto;} 
    #navTrigger{
        opacity: 0;
        position: fixed;
        width: 0;
        height: 0;
        margin: 0;
    }
    #navTrigger:checked + .main_nav{
        transform: translateX(0%);
    }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 20px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}
